<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thepyprogrammer.greenpass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GreenPass"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.information.InfromationActivity" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GreenPass.NoActionBar" />
        <activity android:name=".ui.scanner.QRCodeScanner" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GreenPass.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.image.ImageDetailsActivity"
            android:label="@string/title_activity_profile_picture"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.GreenPass.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thepyprogrammer.greenpass.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.image.ImagePickerActivity"
            android:label="@string/title_activity_profile_picture"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.GreenPass.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thepyprogrammer.greenpass.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/Theme.GreenPass.DarkActionBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
    </application>

</manifest>